<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/coin.css">
<%- include('../partials/nav') %>


<main>
    
    <h1 class="search">Search Results</h1>
    <% if (search) { %> 
    <h2> You searched for <%= search %></h2>
    <% } %>
    <div class="coin-container">
    <% data.forEach(coinData => { %>
        <div class="row">
        <div class="coin">
            <h2 class="coin-name"><%= coinData.name %></h2>
            <img src="<%= coinData.image %> " alt="">
            <h2 class="coin-symbol"><%= coinData.symbol %></h2>
            <h2 class="coin-price"><%= coinData.current_price %></h2>
            <h2 class="market-cap"><%= coinData.market_cap %></h2>
            <h2 class="market-cap-rank"><%= coinData.market_cap_rank %></h2>
        </div>
        </div>
   <% }) %>
    </div>
</main>


<%- include('../partials/footer') %>